<!--
<div class="header">
    <div class="logo"><a href="/products">駅弁</a></div>
    <div>
        <div class="search">
            <form action="/products/search" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <input class="search-input" type="text" name="query_string" value="" placeholder="输入你要搜索的商品">
                <button type="submit" class="search-button pa tc"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="cart-wrap">
        <div class="cart">
            <a href="/carts">
                <i class="fa fa-shopping-cart cart-icon "></i>我的购物车(0) &gt;
			      </a>
        </div>
    </div>
</div>
-->

<div class="menu-wrap">
    <div class="menuList clearfix bc">
        <div class="menuList-item bg-color2">
          <a href="/products">首頁</a>
        </div>
    </div>
</div>






<div class="index-main bg-gray">
  <div class="banner tc pt30 w1200 bc">
    <div id="myCarousel" class="carousel slide">

     <div class="carousel-inner">
        <div class="item active">
         <a href="javacript:;">
          <img src="http://www.n-hodai.jp/ekiben/img/03-02.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>

      </div>
    </div>
  </div>

  <!-- <div class="order clearfix mt30  bc">
      <p class="fl title pl20 pr20">日本全國從北到南充滿各式各樣的鐵道便當，我們將精選推薦給大家其中的美味！</p>
      <ul class="fl orderList">
        <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if !params[:order] %>"><%= link_to("新品", products_path) %></li>
        <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if params[:order] == 'by_product_quantity' %>"><%= link_to("销量", products_path(:order => "by_product_quantity")) %></li>
        <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if params[:order] == 'by_product_price' %>"><%= link_to("价格", products_path(:order => "by_product_price")) %></li>
      </ul>
    </div> -->

<div class="slogan">

    <h1 class="slogan-title1">永久保存版〜日本全國鐵道便當圖鑑〜</h1>

      <div class="slogan-title2">
    <h3>日本全國從北到南充滿各式各樣的鐵道便當，我們將精選其中的美味推薦給大家！</h3>
  </div>
</div>

<div class="productList-wrap mt30 bc">
  <ul class="productList clearfix  pb20">
  <% @products.each do |product| %>
     <li class="fl productList-item  p15">
           <p class="productList-item-pic w200 h200">
              <%= link_to product_path(product) do %>
                <% if product.image.present? %>
                  <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
              <% end %>
             </p>
             <p class="productList-item-price fb col-red f18 mt10">￥<%= product.price %></p>
             <p class="productList-item-name ell">
              <%= link_to product_path(product) do %>
                  <%= product.title %>
               <% end %>
             </p>
           <p class="productList-item-desc mt5 f12"><%= product.description %></p>
      </li>
    <% end %>
  </ul>
</div>
